/* FOOTER */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  background: white;
  display: flex;
  padding: 1rem 0 1rem 0;
}

.contacts {
  min-width: calc(180px + 16px);
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}

.email, 
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.tooltip p {
  color: white;
  font-size: .75rem;
}

.totop .tooltip p, 
.totop2 .tooltip p {
  color: black;
  font-size: 1rem;
}

.copy-text {
  color: black;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 150ms, text-decoration 150ms;
}

.email .tooltip, 
.phone .tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  padding: .25rem .25rem;
  border-radius: .25rem;
  left: 12rem;
  opacity: 0;
  transition: opacity 150ms;
  pointer-events: none;
  white-space: nowrap;
}

.phone .tooltip {
  transform: translateX(-4.1875rem);
}

.totop {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totop2 {
  display: none;
  position: absolute;
  bottom: 5.75rem;
  width: 100%;
  height: 3.75rem;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  background: white;
}

.opacity {
  width: calc(3.75rem * .9 * 2.05);
  max-height: 54px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.opacity img {
  height: 200%;
  object-fit: contain;
  opacity: 0.25;
  transform: rotate(270deg);
  transition: opacity 150ms;
}

.totop .tooltip, 
.totop2 .tooltip {
  position: absolute;
  display: flex;
  transition: opacity 150ms;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  bottom: 5rem;
}

.socials {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials a {
  width: 80%;
  opacity: .25;
  transition: transform 150ms, opacity 150ms;
}

.margin-16px {
  min-width: 16px;
}

@media (max-width: 600px) {
  .totop .opacity {
    display: none;
  }

  .totop2 {
    display: flex;
  }

  .totop2 .tooltip {
    bottom: 4rem;
  }
}

@media (hover: hover) and (pointer: fine) {

  .opacity:hover img {
    opacity: .5;
  }

  .opacity:hover .tooltip {
    opacity: 1;
  }

  .socials a:hover {
    opacity: .5;
    transform: scale(1.1);
  }

  .email:hover .tooltip, .phone:hover .tooltip {
    opacity: 1;
  }

  .copy-text:hover {
    opacity: .5;
    text-decoration: underline;
  }
}

