/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.75rem;
  display: flex;
  z-index: 110000001;
  background: rgba(0, 0, 0, 0.25);
  transition: transform 150ms ease-in;
}

.header.hidden {
  transform: translateY(-200%);
}

/* CV BUTTON */
.header-left {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

.scale img {
  width: 100%;
  transition: scale 250ms ease-in-out;
}

.header-middle {
  flex: 1;
}

/* PROJECT BUTTONS */
.header-right1, 
.header-right2, 
.header-right3, 
.header-right4, 
.dropdown-header-right1, 
.dropdown-header-right2, 
.dropdown-header-right3, 
.dropdown-header-right4 {
  width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.fade img {
  width: 100%;
  transition: opacity 250ms ease-in-out;
}

.fade img.hover {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.fade img.scale-hover {
  position: absolute;
  width: 100%;
  opacity: 0;
  scale: 1.4;
  transition: opacity 250ms ease-in-out;
}

/* HAMBURGER BUTTON */
.header-right5 {
  display: none;
}

.header-right5-button {
  height: 60%;
  width: 60%;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

.scale-little {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.scale-little img {
  width: 100%;
  transition: scale 250ms ease;
}

.dropdown-header {
  position: absolute;
  left: 0;
  top: 3.75rem;
  background: rgba(0, 0, 0, 0.25);
  height: 3.75rem;
  width: 100%;
  display: flex;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 150ms ease;
}

.header-right5.open .dropdown-header {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 600px) {
  .header-right1, 
  .header-right2, 
  .header-right3, 
  .header-right4 {
    display: none;
  }

  .header-right5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
  }
}

@media (hover: hover) and (pointer: fine) {

  .scale:hover img {
    scale: 1.05;
  }

  .fade:hover img {
    opacity: 0;
  }

  .fade:hover img.hover {
    opacity: 1;
  }

  .fade:hover img.scale-hover {
    opacity: 1;
  }

  .scale-little:hover img {
    scale: 1.1;
  }

}