/* PHOTOGRAPHY */
.carousel-container {
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  padding-bottom: 8rem;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  width: 80dvw;
  min-width: 500px;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  max-width: 500px;
  max-height: 100dvh;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 10px 30px 50px 10px hsla(0, 0%, 0%, .25);
  z-index: 2;
}

.carousel-image {
  flex: 0 0 100%;
  width: 500px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  scroll-snap-align: start;
}

.slider-outline {
  position: absolute;
  width: 500px;
  max-width: 500px;
  max-height: 100dvh;
  aspect-ratio: 2 / 3;
  z-index: 1;
}

.slider-nav {
  display: flex;
  gap: .625rem;
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 98;
}

.slider-nav a {
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background: black;
  opacity: 0.25;
  cursor: pointer;
  transition: opacity 200ms;
}

.slider-nav a.active {
  opacity: 1;
}

.button-previous, .button-next {
  position: absolute;
  width: 50px;
  height: 100px;
  background: transparent;
  border: none;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.button-previous { 
  left: 1rem; 
}

.button-next { 
  right: 1rem; 
}

.button-previous img {
  transform: rotate(180deg) scale(1.3);
  opacity: .25;
  width: 100%;
  object-fit: contain;
  pointer-events: auto;
  cursor: pointer;
}

.button-next img {
  transform: scale(1.3);
  opacity: .25;
  width: 100%;
  object-fit: contain;
  pointer-events: auto;
  cursor: pointer;
}

.button-previous:hover img, .button-next:hover img {
  opacity: .5;
}

.photography-margin {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  bottom: 0;
  display: flex; 
  height: 3.75rem;
  width: 100%;
  align-items: center; 
  justify-content: center;
  background: white;
  padding-top: 64px;
  margin-bottom: -1px;
}

.photography-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0px;
  color: black;
  opacity: .25;
  cursor: pointer;
  position: relative;
  font-size: 1.25rem;
  text-decoration: none;
  display: inline-block;
}

.photography-text:hover {
  opacity: .5;
  text-decoration: underline;
}

@media (max-width: 499px) {
  .slider {
    width: 100%;
  }

  .carousel-wrapper {
    width: 100%;
    min-width: 0;
  }

  .button-previous, .button-next {
  width: 10%;
  }

  .slider-outline {
    width: 100%;
  }
}