.project-3 {
  width: 100%;
  height: fit-content;
}

.sticky-img-container3 {
  width: 100%;
  height: calc((var(--vh) * 250) + 2rem);
  margin-top: -150svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-img3 {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(var(--vh) * 100);
  aspect-ratio: calc(16 / 9);
  object-fit: cover;
  z-index: 5;
  opacity: 0;
  will-change: opacity;
  transform: translateZ(0);
}

.proj-3-body {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: calc((var(--vh) * -100) - 2rem);
  background: white;
  border-radius: 1rem 1rem 0 0;
  z-index: 6;
}

.proj-3-body .padding-16px {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

.proj-3-body .proj-description {
  position: relative;
  flex: 1 1 330px;
  height: fit-content;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

.proj-3-body .proj-description img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.proj-3-body .diagrams {
  position: relative;
  flex: 1 1 calc((100vw - 38px) / 3);
  min-width: none;
  height: fit-content;
  background: white;
}

.proj-3-body .diagrams img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.proj-3-body .screen-diagram {
  position: relative;
  flex: 1 1 calc((100vw - 38px) / 3);
  min-width: none;
  height: fit-content;
  background: white;
}

.proj-3-body .screen-diagram img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.horizontal-scroll-section {
  position: relative;
  width: calc(100% + 32px);
  left: 0px;
  height: calc(var(--vh) * 300);
}

.sticky-container {
  position: sticky;
  top: 0;
  height: calc(var(--vh) * 100);
  overflow: hidden;
}

.image-track {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  will-change: transform;
  min-width: 100%;
  height: 100%;
}

.image-track img {
  flex: 1;
  object-fit: cover;
}

.moving-text-box, .moving-text-box-2, .moving-text-box-3 {
  position: absolute;
  top: 50svh;
  left: 48px;
  max-height: 15rem;
  width: 60%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 1rem 1rem 1rem 1rem;
}

.moving-text-box p, .moving-text-box-2 p, .moving-text-box-3 p {
  margin: 16px;
  color: black;
}

.moving-text-box-2 {
  top: 150svh;
}

.moving-text-box-3 {
  top: 250svh;
}

.proj-3-body .perspective-section {
  position: relative;
  width: 100%;
  height: fit-content;
  background: white;
}

.proj-3-body .perspective-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.proj-3-body .model-section {
  position: relative;
  width: 100%;
  height: fit-content;
  background: white;
}

.proj-3-body .model-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.proj-3-body .exploded-iso {
  position: relative;
  width: 100%;
  height: fit-content;
  background: white;
}

.proj-3-body .exploded-iso img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.proj-3-body .model-photo {
  position: relative;
  width: 100%;
  height: fit-content;
  background: white;
}

.proj-3-body .model-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}