.project-2 {
  width: 100%;
  height: fit-content;
}

.sticky-img-container2 {
  width: 100%;
  height: calc((var(--vh) * 250) + 2rem);
  margin-top: -150svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-img2 {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(var(--vh) * 100);
  aspect-ratio: calc(16 / 9);
  object-fit: cover;
  z-index: 3;
  opacity: 0;
  will-change: opacity;
  transform: translateZ(0);
}

.proj-2-body {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: calc((var(--vh) * -100) - 2rem);
  background: white;
  border-radius: 1rem 1rem 0 0;
  z-index: 4;
}

.proj-2-body .padding-16px {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.proj-2-body .proj-description {
  position: relative;
  width: 100%;
  height: 300px;
  background: blue;
}

.proj-2-body .diagrams {
  position: relative;
  width: 100%;
  height: 700px;
  background: red;
}

.proj-2-body .site-plan {
  position: relative;
  width: 100%;
  height: auto;
  background: blue;
}

.proj-2-body .farm-diagrams {
  position: relative;
  width: 100%;
  height: 700px;
  background: red;
}

.proj-2-body .site-model {
  position: relative;
  width: 100%;
  height: auto;
  background: blue;
}

.proj-2-body .floor-plans {
  position: relative;
  width: 100%;
  height: auto;
  background: red;
}

.proj-2-body .interior-renders {
  position: relative;
  width: 100%;
  height: 600px;
  background: blue;
}

.proj-2-body .tall-section {
  position: relative;
  width: 100%;
  height: auto;
  background: red;
}

.proj-2-body .model-photos {
  position: relative;
  width: 100%;
  height: 800px;
  background: blue;
}