.project-2 {
  width: 100%;
  height: fit-content;
}

.sticky-img-container2 {
  width: 100%;
  height: calc((var(--vh) * 250) + 2rem);
  margin-top: -150svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-img2 {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(var(--vh) * 100);
  aspect-ratio: calc(16 / 9);
  object-fit: cover;
  z-index: 3;
  opacity: 0;
  will-change: opacity;
  transform: translateZ(0);
}

.proj-2-body {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: calc((var(--vh) * -100) - 2rem);
  background: white;
  border-radius: 1rem 1rem 0 0;
  z-index: 4;
}

.proj-2-body .padding-16px {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

.proj-2-body .site-plan {
  position: relative;
  width: 100%;
  height: fit-content;
  background: white;
}

.proj-2-body .site-plan img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: fit-content(100%);
  gap: 10px;
  width: max-content;
  margin: 0 auto; 
  grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    "j k l";
  padding-top: 100px;
  padding-bottom: 100px;
}
.item:nth-child(1) { grid-area: a; }
.item:nth-child(2) { grid-area: b; }
.item:nth-child(3) { grid-area: c; }
.item:nth-child(4) { grid-area: d; }
.item:nth-child(5) { grid-area: e; }
.item:nth-child(6) { grid-area: f; }
.item:nth-child(7) { grid-area: g; }
.item:nth-child(8) { grid-area: h; }
.item:nth-child(9) { grid-area: i; }
.item:nth-child(10) { grid-area: j; }
.item:nth-child(11) { grid-area: k; }
.item:nth-child(12) { grid-area: l; }

.grid-container-5 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: white;
  max-width: 400px;
}

.grid-container-5 .item .type-1 {
  width: 100%;
  max-width: 200px;
}

.grid-container-5 .item .arrow {
  width: 20%;
  max-width: 40px;
}

.grid-container-5 .item .type-2 {
  width: 70%;
  max-width: 140px;
}

@media (max-width: 600px) {

}

.proj-2-body .site-model {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.proj-2-body .site-model img {
  max-height: 100svh;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.proj-2-body .floor-plans {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-2-body .floor-plans img {
  max-height: 100svh;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: fit-content(100%);
  gap: 10px;
  grid-template-areas: 
    "a b";
}
.item:nth-child(1) { grid-area: a; }
.item:nth-child(2) { grid-area: b; }

.grid-container-4 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: white;
}

.grid-container-4 .item img{
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .grid-container-4 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-template-areas:
      "a"
      "b";
  }
}

.proj-2-body .tall-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.proj-2-body .tall-section img {
  max-height: 100svh;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.proj-2-body .model-photos {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.proj-2-body .model-photos img {
  max-height: 100svh;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}